<!DOCTYPE html>
<html>
  <head>
    <title>uddoit</title>
    <%= csrf_meta_tags %>

    <!-- <%= favicon_link_tag asset_path('favicon.png'), :rel => 'icon', :type =>  'image/png' %> -->

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <!-- Latest compiled and minified CSS -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css"> -->
  </head>

  <body>
    <%= yield %>
  </body>
</html>
